#down-arrow {
    transition: all 0.8s ease-in-out;
    background-color: transparent;
}

#down-arrow:hover {
    transform: scale(1.6);
}

#sign-up-btn, #login-btn {
    background-color: var(--primary-color);
    border-radius: 9999px;
    border: 1px rgba(0, 0, 0, 0.5) solid;

}

#sign-up-btn:hover, #login-btn:hover {
    background-color: var(--hover-color);
}

input{
   background-color:#efdbd8a5; 
   border: 1px rgba(0, 0, 0, 0.5) solid;
   border-radius: 5px;
}

.signup-input {
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
}



