<section>
<div class="grid place-items-center h-screen">
    <h1 class="flex items-end text-7xl h-80  tracking-widest">Welcome to Vibes</h1>
    <h2 class="flex items-end h-20">A place to unwind and refocus your day</h2>
    <div class="flex justify-center rounded-full border-2 border-gray-600 px-4 py-3 w-40 mt-5 tracking-widest hover:bg-gray-200 cursor-pointer">Login Here</div>
    <div class="grid place-items-center mt-28">
        <div>First time here?</div>
        <div>Scroll down</div>
        <a href="#sign-up-2"><fa-icon [icon]="faAngleDown" id="down-arrow" class="flex justify-center items-center text-3xl animate-pulse p-4 cursor-pointer w-40"></fa-icon></a>
    </div>
</div>
</section>

<section id="sign-up-2">
<div class="h-screen">
    <div class="flex items-end text-6xl h-80 tracking-widest px-40">What vibes with you?</div>
    <div class="flex text-base flex-wrap items-end justify-end h-40 mr-72 leading-8">This is a space to chronicle and reflect, <br> to aim high and achieve your goals, <br> to record your great literary adventures.</div>
    <div class="flex flex-row justify-center items-end gap-40 h-48 w-screen">
        <div class="flex flex-col justify-center items-center">
            <fa-icon [icon]="faSeedling" class="text-6xl h-20"></fa-icon>
            <div>Grow your habits</div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <fa-icon [icon]="faBook" class="text-6xl h-20"></fa-icon>
            <div>Journal your thoughts</div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <fa-icon [icon]="faPencil" class="text-6xl h-20"></fa-icon>
            <div>Log your reads</div>
        </div>
    </div>
</div>
</section>

<section>
<div class="h-screen">
    <div class="flex items-end text-6xl h-64 tracking-widest px-40">Start your journey</div>
    <!-- need form action -->
    <form class="grid place-items-center gap-6 mt-20">
        <div>
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" class="border w-64 ml-5"><br>
        </div>
        <div>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname" class="border w-64 ml-5"><br>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" class="border w-64 ml-5"><br>
        </div>
        <div>
            <label for="confirm-password">Confirm Password:</label>
            <input type="text" id="confirm-password" name="confirm-password" class="border w-64 ml-5"><br>
        </div>
        <input type="submit" value="Sign Up" class="w-40 mt-5 rounded-full px-4 py-3 uppercase tracking-widest bg-white border border-black hover:bg-gray-200 cursor-pointer"><br>
    </form>
</div>
</section>