<div class="grid place-items-center">
    <h1 class="flex items-end text-7xl h-52  tracking-widest">Welcome to Vibes</h1>
    <h2 class="flex items-end h-20">A place to unwind and refocus your day</h2>
    <div class="flex items-end rounded-full border-2 border-gray-600 px-4 py-3 mt-7 mb-10">Login Here</div>
    <div class="grid place-items-center mt-28">
        <div>First time here?</div>
        <div>Scroll down</div>
        <fa-icon [icon]="faAngleDown" class="text-3xl font-thin animate-pulse p-4"></fa-icon>
    </div>


</div>
