
 <app-backdrop></app-backdrop>


<section>
<div class="grid place-items-center h-screen">
    <h1 class="flex items-end text-7xl h-80  tracking-widest">Welcome to Vibes</h1>
    <h2 class="flex items-end h-20">A place to unwind and refocus your day</h2>
    <div routerLink="/login-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex justify-center rounded-full border-2 border-gray-600 px-4 py-3 w-40 mt-5 tracking-widest cursor-pointer" id="login-btn">Login Here</div>
    
    <div class="border-2 invisible" (click)="handleButtonClick()">Click me</div>
    <div class="grid place-items-center mt-28">
        <div>First time here?</div>
        <div>Scroll down</div>
        <a href="#sign-up-2"><fa-icon [icon]="faAngleDown" id="down-arrow" class="flex justify-center items-center text-3xl animate-pulse p-4 cursor-pointer w-40"></fa-icon></a>
    </div>
</div>
</section>

<section id="sign-up-2">
<div class="h-screen">
    <div class="flex items-end text-6xl h-80 tracking-widest px-40">What vibes with you?</div>
    <div class="flex text-base flex-wrap items-end justify-end h-40 mr-72 leading-8">This is a space to chronicle and reflect, <br> to aim high and achieve your goals, <br> to record your great literary adventures.</div>
    <div class="flex flex-row justify-center items-end gap-40 h-48 w-screen">
        <div class="flex flex-col justify-center items-center">
            <fa-icon [icon]="faSeedling" class="text-6xl h-20"></fa-icon>
            <div>Grow your habits</div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <fa-icon [icon]="faBook" class="text-6xl h-20"></fa-icon>
            <div>Journal your thoughts</div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <fa-icon [icon]="faPencil" class="text-6xl h-20"></fa-icon>
            <div>Log your reads</div>
        </div>
    </div>
</div>
</section>

<section>
<div class="h-screen">
    <div class="flex items-end text-6xl h-64 tracking-widest px-40">Start your journey</div>
    <!-- need form action -->
    <form 
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      class="grid justify-center justify-items-end gap-6 mt-20">
        <div>
            <label for="firstName">First Name:</label>
            <input 
                type="text" 
                id="firstName" 
                name="firstName"           
                [(ngModel)]="form.firstName"
                required
                minlength="1"
                maxlength="30"
                #firstName="ngModel"
                class="signup-input  border w-64 ml-5">
                <div class="alert-danger" *ngIf="firstName.errors && f.submitted">
                    <div *ngIf="firstName.errors['required']">First Name is required</div>
                    <div *ngIf="firstName.errors['minlength']">
                      First Name must be at least 1 characters
                    </div>
                    <div *ngIf="firstName.errors['maxlength']">
                      FirstName must be at most 30 characters
                    </div>
                </div><br>
        </div>
        <div>
            <label for="email">Email:</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                [(ngModel)]="form.email"
                required
                #email="ngModel"
                class="signup-input border w-64 ml-5">
             <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">
                      Email must be a valid email address
            </div>
            </div><br>
        </div>
        <div>
            <label for="password">Password:</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                [(ngModel)]="form.password"
                required
                minlength="6"
                maxlength="30"
                #password="ngModel"
                class="signup-input border w-64 ml-5">
                <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                      Password must be at between 6 and 30 characters
                    </div>
                </div>
               <br>
        </div>
        <div>
            <label for="confirm-password">Confirm Password:</label>
            <input 
                type="password" 
                id="confirm-password" 
                name="confirm-password"
                [(ngModel)]="form.confirmPassword"
                required
                minlength="6"
                maxlength="30"
                #confirmPassword="ngModel" 
                class="signup-input border w-64 ml-5">
                <div class="alert-danger" *ngIf="confirmPassword.errors && f.submitted">
                    <div *ngIf="confirmPassword.errors['required']">Confirm Password is required</div>
                    <div *ngIf="password.value !== confirmPassword.value">Passwords must match</div>
                </div><br>
        </div>
        <input type="submit" value="Sign Up" class="w-40 mt-5 rounded-full px-4 py-3 uppercase tracking-widest border border-black cursor-pointer justify-self-center" id="sign-up-btn"><br>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
    </div>
</div>
</section>