#down-arrow {
    transition: all 0.8s ease-in-out;
    background-color: transparent;
}

#down-arrow:hover {
    transform: scale(1.6);
}

#sign-up-btn {
    background-color: rgb(239,219,216, 0.8);
    border-radius: 9999px;
}

#sign-up-btn:hover, #login-btn:hover {
    background-color: rgba(235, 205, 201, 0.8);
}

input{
   background-color: rgb(239,219,216, 0.8);
   border: 1px black solid;
   border-radius: 5px;
}

