
.menu-icon:hover, .nav-link:hover, .home-icon:hover {
    background-color: var(--primary-color);
    border-radius: 9999px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.nav-bar-wrapper {
    width: 100vw;
}

#nav-bar-comp{
    width: 95vw;
}

* {
    background-color: transparent;
}

