<div (click) = "handleClick()" class="flex flex-row gap-10 p-8 text-xl">
    <fa-icon [icon]="faBars" class="p-4 hover:bg-gray-100"></fa-icon>
    <div *ngIf="navBarVisible" class="flex flex-row gap-10 transition ease-in translate-x-6 duration-100">
        <div routerLink="/habits-component" routerLinkActive="active" ariaCurrentWhenActive="page"  class="hover:bg-gray-100 p-4">Habits</div>
        <div routerLink="/thoughts-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="hover:bg-gray-100 p-4">Thoughts</div>
        <div routerLink="/reads-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="hover:bg-gray-100 p-4">Reads</div>
    </div>
</div>

