.login-btn {
    background-color: var(--primary-color);
    border-radius: 9999px;
    border: 1px rgba(0, 0, 0, 0.5) solid;

}

.login-btn:hover {
    background-color: var(--hover-color);
}

input{
   background-color:#efdbd8a5; 
   border: 1px rgba(0, 0, 0, 0.5) solid;
   border-radius: 5px;
}

.login-input input {
    padding: 0.5rem;
    margin-left: 1rem;
}

.login-input input {
    width: 18rem;
}

.login-input label {
    margin-right: 1rem;
}

.redirect:hover, .forgotPassword:hover{
    color: var(--secondary-color)
}