.signup-btn {
    background-color: var(--primary-color);
    border-radius: 9999px;
    border: 1px rgba(0, 0, 0, 0.5) solid;

}

.signup-btn:hover {
    background-color: var(--hover-color);
}

.signup-btn:disabled {
    background-color: var(--primary-color);
    cursor: not-allowed;
}


input{
   background-color:#efdbd8a5; 
   border: 1px rgba(0, 0, 0, 0.5) solid;
   border-radius: 5px;
}

.signup-input {
    padding: 1rem 2rem 1rem 2rem;
    margin-left: 1rem;
}

.signup-input input {
    width: 18rem;
}

.signup-input label {
    margin-right: 1rem;
}

.redirect:hover {
    color: var(--secondary-color)
}