
 <app-backdrop></app-backdrop>

<section>
<div class="h-screen">
    <div class="flex items-end text-6xl h-64 tracking-widest px-40">Start your journey</div>
    <div class="displayTable flex justify-center py-8 bg-gray-100">
  <div class="displayTableCell">
    <div class="authBlock">
      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #userEmail
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPwd
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Sign Up"
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
        />
      </div>
      <div class="formGroup">
  <button type="button" (click)="authService.GoogleAuth()">
    Log in with Google
  </button>
</div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
    <div class="redirectToLogin">
      <span
        >Already have an account?
        <span class="redirect" routerLink="/sign-in">Log In</span></span
      >
    </div>
  </div>
</div>
    






