
.signup-btn:disabled {
    background-color: var(--primary-color);
    cursor: not-allowed;
}


input{
   background-color:#efdbd8a5; 
}

.signup-input {
    padding: 1rem 2rem 1rem 2rem;
    margin-left: 1rem;
}

.signup-input input {
    width: 18rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
}

.signup-input label {
    margin-right: 1rem;
    font-weight: 500;
}

.redirect:hover {
    color: var(--secondary-color)
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-color: white;
}