 <div id="parallax">
    <div id="inner-parallax">
        <img src="../../assets/images/Sandlayer.svg" #sandLayer id="sand-layer">
        <img src="../../assets/images/Pinklayer.svg" id="pink-layer">
        <img src="../../assets/images/Cloud1.svg" id="cloud-1">
        <img src="../../assets/images/Cloud2.svg" id="cloud-2">
        <img src="../../assets/images/Cloud3.svg" id="cloud-3">
        <img src="../../assets/images/Leftmount1.svg" id="leftmt-1">
        <img src="../../assets/images/Leftmount2.svg" #leftMt2 id="leftmt-2">
        <img src="../../assets/images/Rightmount1.svg" id="rightmt-1">
        <img src="../../assets/images/Rightmount2.svg" id="rightmt-2">
        <img src="../../assets/images/Rightmount3.svg" id="rightmt-3">
        <img src="../../assets/images/Rightmount4.svg" #rightMt4 id="rightmt-4">
        <img src="../../assets/images/Sunlayer.svg" #sunLayer id="sun-layer">
        <img src="../../assets/images/Bird1.svg" #bird1 id="bird1">
        <img src="../../assets/images/Bird2.svg" #bird2 id="bird2">
    </div>
 </div>
