<app-backdrop></app-backdrop>
<div class="h-screen flex justify-center content-end items-end pb-4">
       <div class="journal-wrapper">
        <form [formGroup]="journalForm">
            <div class="title-wrapper flex flex-row justify-around items-end m-10">
                <textarea
                    class="formControl title-field bg-transparent uppercase text-2xl p-2 w-2/3 tracking-wider"
                    formControlName='title'
                    placeholder="Untitled"
                    (input)="adjustTextArea($event)"
                    rows="1"
                    required
                ></textarea>
                <app-reusable-button
                    [text]="'Generate a Prompt'"
                    [disabled]="false"
                    [backgroundColor]="'var(--secondary-color)'"
                    ></app-reusable-button>
            </div>
            <textarea 
                id="message" 
                rows="4" 
                class="formControl block mx-auto p-4 w-11/12 text-base text-gray-900 bg-gray-50 rounded-lg border border-gray-300 tracking-wider" placeholder="Write your thoughts here..."
                formControlName="body"
                required>
            </textarea>

        </form>

       </div>
</div>